<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" >
  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
     <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p %c{2} - %m%n" />
     </layout>
  </appender>
  <logger name="org.scoovy.positionmanager.servlet.PushServlet">
      <level value="debug"/>
      <appender-ref ref="stdout"/>
  </logger>
  <logger name="org.scoovy.positionmanager.push">
      <level value="debug"/>
      <appender-ref ref="stdout"/>
  </logger>
  <logger name="org.springframework.beans">
      <level value="info"/>
      <appender-ref ref="stdout"/>
  </logger>
  <logger name="org.springframework.transaction">
      <level value="info"/>
      <appender-ref ref="stdout"/>
  </logger>
  <logger name="org.springframework.jdbc.core.JdbcTemplate">
  	<level value="info" />
  	<appender-ref ref="stdout"/>
  </logger>
  <logger name="org.springframework.jdbc.core.StatementCreatorUtils">
    <level value="info" />
    <appender-ref ref="stdout"/>
  </logger>
  <logger name="org.scoovy.positionmanager.servlet.BootStrap">
    <level value="info" />
    <appender-ref ref="stdout"/>
  </logger>
</log4j:configuration>    